---
pagination:
  data: collections.publishedItems
  size: 1
  alias: preview
permalink: "/images/share/{{ preview.data.title | slugify }}-preview.svg"
eleventyExcludeFromCollections: true
---

<svg width="1200" height="628" viewBox="0 0 1200 628" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    {% set titleInLines = preview.data.title | splitlines %}
    {% set numberOfLines = titleInLines.length %}
    {% set verticalAdjustment = 340 - (numberOfLines - 1) * 40 %} {# Adjust vertical starting point based on number of lines #}
    {% set ogImageBackgroundColor = siteConfig.opengraph.ogImageBackgroundColor %}
    {% set ogImageTextColor = siteConfig.opengraph.ogImageTextColor %}
    <rect width="100%" height="100%" fill="{{ ogImageBackgroundColor }}" />
    <text font-family="'Georgia', Times, serif" font-size="26" fill="{{ ogImageTextColor }}">
        <tspan x="120" y="{{ verticalAdjustment - 90 }}">{{ siteConfig.site.title }}</tspan>
    </text>
    <text id="text" font-family="'Georgia', Times, serif" fill="{{ ogImageTextColor }}" font-size="80" font-weight="bold">
        {% for line in titleInLines %}
        <tspan x="120" y="{{ verticalAdjustment + loop.index0 * 100 }}">{{ line }}</tspan>
        {% endfor %}
    </text>
    <text font-family="'Georgia', Times, serif" font-size="30" fill="{{ ogImageTextColor }}">
        <tspan x="120" y="{{ verticalAdjustment + numberOfLines * 100 }}">{{ preview.date | readableFullDate }}</tspan>
    </text>
</svg>
