---
title: Subscribe
description: Follow this blog to get notified whenever new article is published.
eleventyNavigation:
  key: Subscribe
  order: 3
---

<p>Subscribe to the <strong>{{ siteConfig.site.title }}</strong> to get updates whenever a new article is published. If you want a more "centralized" notification location, we'll be <a href="https://twitter.com/dApplingNetwork" alt="dAppling.network's twitter">Tweeting</a> out new articles.</p>

{% include "partials/feed-list.njk" %}
